<button class="btn btn-secondary" (click)="getCrimes()">Get Crimes</button>

<app-search></app-search>
<div id="map"></div>
<div id="floating-panel">
    <button class="btn btn-secondary" onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button class="btn btn-secondary" onclick="changeGradient()">Change gradient</button>
    <button class="btn btn-secondary" onclick="changeRadius()">Change radius</button>
    <button class="btn btn-secondary" onclick="changeOpacity()">Change opacity</button>
</div>

