<script src="../assets/googleAPI.js" async defer></script>
<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

</head>

<body>
  <h1>PRESS CTRL+F5 SILLY!</h1>
  <h1>map works</h1>
  <button class="btn btn-secondary" (click)="getCrimes()">Get Crimes</button>

  <app-search></app-search>
  <div id="map"></div>
  <div id="floating-panel">
    <button (click)="toggleHeatmap()">Toggle Heatmap</button>
    <button (click)="changeGradient()">Change gradient</button>
    <button (click)="changeRadius()">Change radius</button>
    <button (click)="changeOpacity()">Change opacity</button>
  </div>
  

</body>
</html>

