<app-dataSearch></app-dataSearch>
<div class="tableDiv">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <!-- <div class="thPosition"> -->
          <th scope="col">Address</th>
        <!-- </div> -->
        <th scope="col">City</th>
        <th scope="col">Category</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Location</th>
        <th scope="col">Details</th>
        <th scope="col">Arrest Made</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crime of crimes">
        <td style="width: 13.5%" >{{crime.address}}</td>
        <td style="width: 8.7%" >{{crime.city}}</td>
        <td style="width: 14.9%" >
          <img src="{{crime.icon.url}}" alt=""> {{crime.catname}}</td>
        <td style="width: 9.2%" >{{crime.date}}</td>
        <td style="width: 9.5%"  *ngIf="crime.description['Time']">{{crime.description.Time}}</td>
        <td style="width: 14%"  *ngIf="crime.description['Location']">{{crime.description.Location}}</td>
        <td style="width: 12%"  *ngIf="crime.description['Details']">{{crime.description.Details}}</td>
        <td *ngIf="crime.description['Arrest Made']">{{crime.description['Arrest Made']}}</td>
      </tr>
    </tbody>
  </table>
</div>