<div id="info">
        <h2>Crime Statistics in Chicago</h2>
        <p>These graphs represent crime statistics in Chicago from March to November in the year 2015. To see a map of this data, see the home page. To see this information as a table, see data. To report a crime, see report a crime. Remember to always call 911 in the case of an emergency.</p>
        <a class="btn btn-danger" [routerLink]='["report"]'>Report a crime</a>
    </div>

<div id="carouselExampleControls" class="carousel slide graphs" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h2>Crime over Time</h2>
            <div class="graph">
                <canvas id="lineChart"></canvas>
            </div>
            <div class="floating-panel">
                <button class="btn btn-secondary" (click)="pastWeek()">Past Week</button>
                <button class="btn btn-secondary" (click)="pastMonth()">Past Month</button>
                <button class="btn btn-secondary" (click)="pastYear()">Past Year</button>
            </div>
        </div>
        <div class="carousel-item">
            <h2>Crime by Type</h2>
            <div class="graph">
                <canvas id="pieChart" height="160"></canvas>
                <div class="floating-panel">
                    <button class="btn btn-secondary" (click)="farNorthSide()">Far North Side</button>
                    <button class="btn btn-secondary" (click)="northwestSide()">Northwest Side</button>
                    <button class="btn btn-secondary" (click)="northSide()">North Side</button>
                    <button class="btn btn-secondary" (click)="westSide()">West Side</button>
                    <button class="btn btn-secondary" (click)="central()">Central</button>
                </div>
                <div class="floating-panel">
                    <button class="btn btn-secondary" (click)="southSide()">South Side</button>
                    <button class="btn btn-secondary" (click)="southwestSide()">Southwest Side</button>
                    <button class="btn btn-secondary" (click)="farSouthwestSide()">Far Southwest Side</button>
                    <button class="btn btn-secondary" (click)="farSoutheastSide()">Far Southeast Side</button>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <img class="arrow" src="assets/img/arrow-left.png">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <img class="arrow" src="assets/img/arrow-right.png">
    </a>
</div>
