* {
  /*border: 2px solid blue;*/
}

#info {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    color: white;
    padding: 2%;
    height: 80vh;
}

.graphs {
    width: 75%;
    padding: 2% 0;
    height: auto;
    vertical-align: top;
    display: inline-block;
    margin-top: 1vh;
    background-color: rgba(255, 255, 255, 0.75);
}

.graphs h2 {
    text-align: center;
    margin: 2% 0;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.graph {
    width: 75%;
    margin: 1% auto;
}

.floating-panel {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.floating-panel * {
    margin: 0 auto;
}

.arrow {
    width: 50px;
}

#searchBar {
  width: 30%;
  position: absolute;
  right: 0;
  border-radius: 10px;
  border: 2px solid gray;
  padding: 1%;
  background: rgba(255, 255, 255, 0.75);
  margin-top: 48px;
  z-index: 1000;
}

#showSearch {
  position: absolute;
  right: 1%;
  margin-top: 5px;
}
