<div id="info">
        <h2>Crime Statistics in Chicago</h2>
        <p>These graphs represent crime statistics in Chicago from March to November in the year 2015. To see a map of this data, see the home page. To see this information as a table, see data. To report a crime, see report a crime. Remember to always call 911 in the case of an emergency.</p>
        <a class="btn btn-danger" [routerLink]='["report"]'>Report a crime</a>
    </div>

<div id="carouselExampleControls" class="carousel slide graphs" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h2>Crime over Time</h2>
            <div class="graph">
                <canvas id="lineChart" height="160"></canvas>
            </div>
            <div class="floating-panel">
                <select [(ngModel)]="lineSelection">
                    <option value="1">Battery</option>
                    <option value="2">Assault</option>
                    <option value="3">Motor Vehicle Theft</option>
                    <option value="4">Theft</option>
                    <option value="5">Criminal Damage</option>
                    <option value="6">Burglary</option>
                    <option value="8">Robbery</option>
                    <option value="21">Stalking</option>
                    <option value="7">Sex Offense</option>
                    <option value="10">Sexual Assault</option>
                    <option value="11">Deceptive Practice</option>
                    <option value="12">Weapons Violation</option>
                    <option value="13">Narcotics</option>
                    <option value="14">Prostitution</option>
                    <option value="15">Arson</option>
                    <option value="16">Homicide</option>
                    <option value="17">Gambling</option>
                    <option value="18">Kidnapping</option>
                    <option value="19">Obscenity</option>
                    <option value="20">Intimidation</option>
                    <option value="9">Miscellaneous</option>
                </select>
                <button class="btn btn-secondary abc" (click)="pastWeek()">Past Week</button>
                <button class="btn btn-secondary abc" (click)="pastMonth()">Past Month</button>
                <button class="btn btn-secondary abc" (click)="pastYear()">Past Year</button>
            </div>
        </div>
        <div class="carousel-item">
            <h2>Crime by Type</h2>
            <div class="graph">
                <canvas id="pieChart" height="150"></canvas>
                <div class="floating-panel">
                    <button class="btn btn-secondary abc" (click)="farNorthSide()">Far North Side</button>
                    <button class="btn btn-secondary abc" (click)="northwestSide()">Northwest Side</button>
                    <button class="btn btn-secondary abc" (click)="northSide()">North Side</button>
                    <button class="btn btn-secondary abc" (click)="westSide()">West Side</button>
                    <button class="btn btn-secondary abc" (click)="central()">Central</button>
                </div>
                <div class="floating-panel">
                    <button class="btn btn-secondary abc" (click)="southSide()">South Side</button>
                    <button class="btn btn-secondary abc" (click)="southwestSide()">Southwest Side</button>
                    <button class="btn btn-secondary abc" (click)="farSouthwestSide()">Far Southwest Side</button>
                    <button class="btn btn-secondary abc" (click)="farSoutheastSide()">Far Southeast Side</button>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <img class="arrow" src="assets/img/arrow-left.png">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <img class="arrow" src="assets/img/arrow-right.png">
    </a>
</div>
