/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

body {
    background-color: #347bc9;
    background-image: url("assets/img/chicago.jpg");
    background-size: cover;
    background-position: 0 34vh;
    background-repeat: no-repeat; 
}
